/*----------------Inicio CSS general------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ComicNeue;
    src: url(../assets/fonts/ComicNeue-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat;
}

p,a,span,li,input,button,form {
    font-family: ComicNeue;
    font-size:large; 
}

/*Inicio CSS Header*/

header {
    width: 100%;
    background-color: #88b2cf;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#Logo1 {
    display: inline-block;
    width: 80px;
    height: 80px;
    /*padding: 0px, 100px, 0px, 0px;*/
}

#NombreClinica {
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
    position:absolute;
    top: 50px;
    left: 150px;
}

/* nav ul {
    list-style: none;
    position: absolute;
    top: 50px;
    right: 40px;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
    font-size: larger;
} */

/*Fin CSS Header*/

/*Inicio CSS Footer*/

footer {
    width: 100%;
    background-color: #88b2cf;
    padding: 20px;
}

#NombreClinicaFooter{
    display: inline-block;
    position: relative;
    left: 300px;

}

#DerechosReservados{
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 600px;
}

/*Fin CSS Footer*/

/* Inicia estilo boton whats*/
.btn-wsp{
    position:fixed;
    width:55px;
    height:55px;
    line-height: 55px;
    bottom:30px;
    right:30px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #25d366;
    background: #FFF;
}
/* Termina estilo boton whats*/

/*-----------------------Fin de CSS general----------------------------------*/

/*----------------------Inicio de CSS para el Index----------------------------*/

#DentistaFeliz {
    width: 640px;
    height: 630px;
    position: relative;
    bottom: 0px;
}

.texto_home {
    display: inline-block;
    width: 800px;
    margin: 10px 0px 10px 10px;
}

.texto_home ul li{
    margin: 10px 0px 0px 30px;
    list-style-position: inside;
}

.texto_home h1{
    margin: 0px 0px 10px 0px;
}

.texto_home h2,h3{
    margin: 10px 0px 10px 0px;
}

.texto_home p{
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

#Conclusion{
    font-weight: bold;
    font-size:x-large;
}

.texto_home a{
    font-weight: bold;
    font-size:x-large;
}

/*---------------------Fin de CSS para el Index-------------------------------------*/

/*---------------------Inicio de CSS para Nosotros----------------------------------*/

.texto_nosotros h3{
    display:inline-block;

}

.texto_nosotros ol li{
    margin: 10px 0px 0px 30px;
    list-style-position: inside;
}

.texto_nosotros ul li{
    margin: 10px 0px 0px 30px;
    list-style-position: inside;
}

.texto_nosotros h1{
    margin: 0px 0px 30px 650px;
}

.texto_nosotros h2,h4{
    margin: 10px 0px 10px 0px;
}

.texto_nosotros p{
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

/*Inician atributos Daniel*/
.SecDaniel{
    display: block;
    margin: 0px 0px 0px 20px;
}

#Daniel{
    display:inline-block;
    width: 400px;
    height: 300px;
    margin: 0px 0px 0px 0px;
}

.textoDaniel{
    display: inline-block;
    margin: 0px 0px 0px 30px;
    position: relative;
    bottom: 60px;
}
/*Terminan atributos Daniel*/

/*Inician atributos Estefi*/
.SecEstefi{
    display: block;
    margin: 40px 0px 0px 150px;
}

#Estefi{
    display:inline-block;
    width: 400px;
    height: 300px;
    margin: 0px 0px 0px 20px;
}

.textoEstefi{
    display: inline-block;
    position: relative;
    bottom: 100px;
}
/*Terminan atributos Estefi*/

/*Inician atributos Juan*/
.SecJuan{
    display: block;
    margin: 40px 0px 20px 20px;
}

#Juan{
    display:inline-block;
    width: 400px;
    height: 300px;
    margin: 0px 0px 0px 0px;
}

.textoJuan{
    display: inline-block;
    margin: 0px 0px 0px 30px;
    position: relative;
    bottom: 80px;
}
/*Terminan atributos Juan*/

/*---------------------Fin de CSS para Nosotros-------------------------------------*/

/*---------------------Inicio de CSS para Servicios---------------------------------*/
.texto_servicios ul li{
    margin: 10px 0px 0px 30px;
    list-style-position: inside;
}

.texto_servicios h1{
    margin: 0px 0px 30px 650px;
}

.texto_servicios h2,h3{
    margin: 10px 0px 10px 0px;
}

.texto_servicios p{
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

#Limpieza{
    display:block;
    width: 400px;
    height: 300px;
    margin: 10px 0px 100px 500px;
}

#Resina{
    display:block;
    width: 400px;
    height: 200px;
    margin: 10px 0px 100px 500px;
}

#Corona{
    display:block;
    width: 400px;
    height: 200px;
    margin: 10px 0px 100px 500px;
}

#Endodoncia{
    display:block;
    width: 400px;
    height: 200px;
    margin: 10px 0px 100px 500px;
}

#Blanqueamiento{
    display:block;
    width: 400px;
    height: 200px;
    margin: 10px 0px 100px 500px;
}

#Peridoncia{
    display:block;
    width: 400px;
    height: 200px;
    margin: 10px 0px 100px 500px;
}
/*---------------------Fin de CSS para Servicios------------------------------------*/

/*---------------------Inicio de CSS para Blog---------------------------------*/

#Alineadores{
    display: inline-block;
    width: 400px;
    height: 250px;
    margin: 0px 0px 0px 0px;
}

.texto_blog h3{
    display:inline-block;

}

.texto_blog ol li{
    margin: 10px 0px 0px 30px;
    list-style-position: inside;
}

.texto_blog ul li{
    margin: 10px 0px 0px 30px;
    list-style-position: inside;
}

.texto_blog h1{
    margin: 0px 0px 30px 650px;
}

.texto_blog h2,h4{
    margin: 10px 0px 10px 0px;
}

.texto_blog p{
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

.Section1{
    margin: 0px 0px 50px 0px;
}

.texto_aside_s1{
    display: inline-block;
    width: 1000px;
    margin: 0px 0px 0px 20px;
}

.Section2{
    margin: 0px 0px 50px 0px;
}

#Blanqueamiento2{
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 0px 0px 0px 0px;
}

.texto_aside_s2{
    display: inline-block;
    width: 800px;
    margin: 0px 0px 20px 20px;
}

/*---------------------Fin de CSS para Blog------------------------------------*/


/*----------------------------Inico de CSS para el Contacto-------------------------*/

body.contacto{
    background-image: url(../assets/images/sonrisa.png);
    background-size: cover;  
}

body.contacto h1{
    margin: 0px 0px 0px 400px;
    font-size: xx-large;
    font-weight: bold;
}

form{
    width: 100%;
    height: 100vh;
    padding: 30px;
    font-size: x-large;

}

form input{
    width:50%;
    background-color: transparent;
    margin: 0 10px;
    font-size: x-large;
    border-color: black;
    border-style: groove;
    border-width:2px;
    text-transform:uppercase;
}

form #nombre{
    padding: 0px 0px 10px 0px;
}

form #nombre label {
    padding: 0px 10px 0px 0px;
}

form #email{
    padding: 0px 0px 10px 0px;
}

form #email label {
    padding: 0px 25px 0px 0px;
}

form #telefono{
    padding: 0px 0px 10px 0px;
}

form #telefono label {
    padding: 0px 6px 0px 0px;
}

#mensaje {
    font-size:x-large;
}

form textarea {
    width:50%;
    height:40%;
    background-color: transparent;
    border-color: black;
    border-style: groove;
    border-width:2px;
    margin: 10px 0px 0px 110px;
    font-size: x-large;
    text-transform:uppercase;
}

form #enviar {
    background-color: rgb(206, 203, 203);
    font-size: 100px;
    font-weight: bold;
    margin: 10px 0px 0px 110px;
}

/*--------------------------------Fin de CSS para el Contacto-----------------------*/