/*------------------Inicio Footer--------------------------*/
footer {
    width: 100%;
    background-color: $header-footer-color;
    padding: 20px;
}

#NombreClinicaFooter{
    display: inline-block;
    position: relative;
    left: 300px;

}

#DerechosReservados{
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 600px;
}
/*---------------------Fin Footer------------------------------*/