/*------------------Inicio Footer--------------------------*/
footer {
    width: 100%;
    background-color: $header-footer-color;
    padding: 20px;
}

.redes{
    @media (max-width: 1000px) {
        display: flex;
        justify-content: center;
    }
}
/*---------------------Fin Footer------------------------------*/