/*------------------Inicio Footer--------------------------*/
footer {
    width: 100%;
    background-color: $header-footer-color;
    padding: 20px;
}
/*---------------------Fin Footer------------------------------*/