/*--------------Inicio Temas---------------------*/
.background{
    padding: 0px 5vw 0px 5vw;
    background-image: $imagen-fondo;
    background-repeat: repeat;
    background-position: center;
}
/*--------------Fin Temas----------------------*/