/*----------------Inicio CSS Blog------------------------------*/
.pagina{
    background-image: $imagen-fondo;
    background-repeat: repeat;
    background-position: center;
}

#Alineadores{
    display: inline-block;
    width: 400px;
    height: 280px;
    margin: 25px 0px 0px 0px;
}

#Blanqueamiento2{
    display: inline-block;
    width: 800px;
    height: 400px;
    margin: 25px 0px 10px 0px;
}
/*----------------Fin CSS Blog------------------------------*/