/*----------------------------Inico de CSS para el Contacto-------------------------*/
form input{
    text-transform:uppercase;
}

form #enviar {
    font-size: 3vw;
    margin: 10px 0px 10px 0px;
}
/*--------------------------------Fin de CSS para el Contacto-----------------------*/