/*---------------Inicio CSS Home-----------------------*/ 
#DentistaFeliz {
    width: 451px;
    height: 300px;

    @media (max-width: 1000px) {
        width: 300px;
        height: 200px;
    }

}
/*---------------Fin CSS Home--------------------------*/