/*----------------Inicio CSS Nosotros-----------------------------*/
.imagen--nosotros{
    margin: 10px 0px 50px 0px;
    width: $width-nosotros;
    height: $height-nosotros;
}
/*----------------Fin CSS Nosotros--------------------------------*/