/*--------------- Inicio Clases Comunes------------------------*/
.centrado{
    display: flex;
    justify-content: center;
}

.borde-abajo{
    border-bottom:solid;
}
/*---------------Fin Clases Comunes---------------------------*/