/*--------------- Inicio Clases Comunes------------------------*/
.centrado{
    display: flex;
    justify-content: center;
}

.borde-abajo{
    border-bottom:solid;
}

.padding-superior{
    padding: 100px 0px 0px 0px;
}
/*---------------Fin Clases Comunes---------------------------*/