/*--------------- Inicio Clases Comunes------------------------*/
.centrado{
    display: flex;
    justify-content: center;
}

.borde-abajo{
    border-bottom:solid;
}

.padding-superior{
    padding: 110px 0px 0px 0px;

    @media (max-width: 750px) {
        padding: 150px 0px 0px 0px;
    }
}
/*---------------Fin Clases Comunes---------------------------*/