/*----------Inicio Tipografia--------------------*/ 
html {
    font-size: 80%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: ComicNeue;
    font-weight: $primary-font-weight;
}

p,a,span,li,input,button,form {
    font-family: ComicNeue;
    font-size: $secondary-font-size; 
}
/*----------Fin Tipografia---------------------*/